@font-face {
    font-family: 'WW';
    src: url('../assets/fonts/CfWildWestPersonalRegular-qVl2.ttf') format('truetype');
}

@font-face {
    font-family: 'WWPixel';
    src: url('../assets/fonts/PixelCowboy-l7we.ttf') format('truetype');
}

@font-face {
    font-family: 'WWLower';
    src: url('../assets/fonts/PixelGame-R9AZe.otf') format('truetype');
}


/* General Styles */
body {
    background-image: url('../assets/images/wild-west.jpg');
    background-size: auto;
    background-position: center;

    font-family: 'WWPixel', sans-serif;
    color: #3b2a1a;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'WWLower', sans-serif;
    font-size: 1rem;
    color: #caaa75;
    margin: 15px;
    padding: 15px;
    letter-spacing: 0.05em; 
}

.container {
    background-color: #f6ffe6ce;
    border: 3px solid #7c482a;
    border-radius: 20px;
    padding: 20px;
    max-width: 800px;
    width: 80%; 
    margin: auto; 
    text-align: center;
}

button, .button {
    background-color: #9a7b4e; 
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    font-family: 'WWLower', serif;
    font-size: 1.1em;
    letter-spacing: .1rem;
    transition: background-color 0.4s;
    margin: 5px;
}

button:hover, .button:hover {
    background-color: #7c5e2a;
}

a {
    font-size: 1.1em;
    color: #d1baa6;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

a:hover {
    color: #fa8219;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px 0;
    font-family: 'WWLower', sans-serif;
    font-size: 1.2em;
}


input[type="text"],
input[type="password"],
input[type="email"] {
    width: 60%; 
    justify-content: center;
    align-items: center;
    padding: 10px; 
    margin: 10px 5px; 
    border: 2px solid #7c482a;
    border-radius: 5px; 
    font-family: 'WWPixel', sans-serif; 
    font-size: 1.2em; 
    background-color: #f6ffe6ce; 
    color: #3b2a1a; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Focus State */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #9a7b4e; /* Highlight color */
    box-shadow: 0 0 8px rgba(154, 123, 78, 0.5); /* Shadow effect on focus */
    outline: none; /* Remove default outline */
}

input::placeholder {
    color: #a36b4c; 
    opacity: 0.7; 
    font-style: italic;
}

.username {
    color: #3b2a1a;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tumbleweed {
    width: 60px; 
    animation: rotate 3s linear infinite; 
    margin: 20px auto; 
    display: block; 
}

textarea {
    width: 60%; /* Same width as input fields */
    padding: 10px; 
    margin: 10px 5px; 
    border: 2px solid #7c482a;
    border-radius: 5px; 
    font-family: 'WWPixel', sans-serif; 
    font-size: 1.2em; 
    background-color: #f6ffe6ce; 
    color: #3b2a1a; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s, box-shadow 0.3s;
}

textarea:focus {
    border-color: #9a7b4e; /* Highlight color */
    box-shadow: 0 0 8px rgba(154, 123, 78, 0.5); /* Shadow effect on focus */
    outline: none; /* Remove default outline */
}

select {
    width: 60%; /* Same width as input fields */
    padding: 10px; 
    margin: 10px 5px; 
    border: 2px solid #7c482a;
    border-radius: 5px; 
    font-family: 'WWPixel', sans-serif; 
    font-size: 1.2em; 
    background-color: #f6ffe6ce; 
    color: #3b2a1a; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s, box-shadow 0.3s;
}

select:focus {
    border-color: #9a7b4e; /* Highlight color */
    box-shadow: 0 0 8px rgba(154, 123, 78, 0.5); /* Shadow effect on focus */
    outline: none; /* Remove default outline */
}

.win {
    font-size: 2rem;
}

.radio-group {
    display: flex;
    flex-direction: column; /* Stack the radio buttons vertically */
    gap: 10px; /* Space between radio buttons */
}

input[type="radio"] {
    appearance: none; /* Remove default styling */
    width: 10px; /* Custom radio button size */
    height: 10px; /* Custom radio button size */
    border: 2px solid #7c482a; /* Border color */
    border-radius: 50%; /* Make it round */
    outline: none; /* Remove outline */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]:hover {
    border-color: #9a7b4e; /* Change border color on hover */
}

input[type="radio"]:checked {
    background-color: #9a7b4e; /* Change to desired color when checked */
    border-color: #3b2a1a; /* Change border color when checked */
}

.header-icon {
    width: 70px;  
    vertical-align: bottom;
}

.header-icon-flipped {
    transform: scaleX(-1);
    width: 70px;  
    vertical-align: bottom;
}

.item_selection label {
    font-family: 'WWPixel', sans-serif;
    font-size: 1.2em;
    color: #7c482a;
    display: flex;
    align-items: center;
    gap: 10px; /* Spacing between checkbox and label */
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none; /* Remove default checkbox */
    width: 20px;
    height: 20px;
    border: 2px solid #7c482a; /* Brown border */
    background-color: #f6ffe6ce; /* Light tan color for unchecked */
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="checkbox"]:hover {
    border-color: #9a7b4e; /* Darker border on hover */
}

input[type="checkbox"]:checked {
    background-color: #9a7b4e; /* Change to darker color when checked */
    border-color: #3b2a1a; /* Darker border when checked */
}

input[type="checkbox"]::before {
    content: '♥'; 
    color: #3b2a1a; /* Dark brown checkmark */
    font-size: 1.5em;
    display: none; /* Hidden by default */
    position: absolute;
    top: -3px;
    left: 3px;
}

input[type="checkbox"]:checked::before {
    display: block; /* Show the checkmark when checked */
}

.item_selection {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.avatar-preview {
    display: block;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
