<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/main.css">
    <title>Create Bio</title>
</head>
<body>
    <div class="container">
        <h1>
            <img src="../static/assets/images/Star.png" alt="icon" class="header-icon">
            Create Account
            <img src="../static/assets/images/Star.png" alt="icon" class="header-icon-flipped">
        </h1>
    <form method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="bio">Bio:</label><br>
        <textarea id="bio" name="bio" required></textarea><br><br>
        
        <label for="gender">Gender:</label><br>
        <select id="gender" name="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select><br><br>
        
        <label for="preferred_gender">Preferred Gender:</label><br>
        <select id="preferred_gender" name="preferred_gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select><br><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Create Bio</button>
    </form>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
</body>
</html>
