<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/main.css">
    <title>Hangman Game - Connect with a Friend</title>
</head>
<body>
    <div class="container">
        <h1>
            <img src="../static/assets/images/RideACowboy_Gun.png" alt="icon" class="header-icon-flipped">
            Welcome to Hangman!
            <img src="../static/assets/images/RideACowboy_Gun.png" alt="icon" class="header-icon">
        </h1>

        <form action="/start-game" method="GET">
            <div>
                <label for="current_username">Your Username:</label>
                <br>
                <input type="text" id="current_username" name="current_username" required>
            </div>
            <div>
                <label for="other_username">Opponent's Username:</label>
                <br>
                <input type="text" id="other_username" name="other_username" required>
            </div>
            <div>
                <button type="submit">Start Game</button>
            </div>
        </form>

        <h2><strong>Instructions:</strong></h2>
        <ul>
            <li>Enter your username and the opponent's username to start the game.</li>
            <li>You will be redirected to the game page where you can take turns guessing letters.</li>
        </ul>
    </div>
</body>
</html>
