<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/main.css">
    
    <title>Choose Word for Hangman</title>
</head>
<body>
    <div class="container">
        <h1>
            <img src="../images/RideACowboy_Gun.png" alt="icon" class="header-icon-flipped">
            Choose a Word for Hangman
            <img src="../images/RideACowboy_Gun.png" alt="icon" class="header-icon">
        </h1>

    <p><strong>Question:</strong> {{ question }}</p>

    <form method="POST">
        <label for="answer">Your Answer (as the word):</label><br>
        <input type="text" name="answer" required><br>

        <button type="submit">Send Word</button>
    </form>

    <a href="{{ url_for('messages', username=username) }}">Back to Messages</a>
    </div>
</body>
</html>
