<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/main.css">

    <title>Hangman Game Finished</title>
</head>
<body>
    <div class="container">
        <h1>
            <img src="../images/RideACowboy_Gun.png" alt="icon" class="header-icon-flipped">
            Hangman Game Finished!
            <img src="../images/RideACowboy_Gun.png" alt="icon" class="header-icon">
        </h1>
    <p class="win">The Hangman game has been completed.</p>
    <button><a href="{{ url_for('messages', username=username) }}">Back to Messages</a></button>
    </div>
</body>
</html>
