<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h1>Welcome to the Wild West!</h1>
        <div class="login">
            <form method="POST" class="form-content">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <div class="button-container">
                    <button class="submit-btn"type="submit">Login</button>
                </div>
            </form>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <p>Don’t have an account?</p>
        <div class="button-container">
            <a href="{{ url_for('create_bio') }}" class="create-account-btn">Create one here!</a>
        </div>
    </div>
</body>
</html>
