<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/main.css">
    <title>Your Matches</title>
</head>

<body>
    <div class="container">
        <h1>
            <img src="../assets/images/Heart.png" alt="icon" class="header-icon">
            My Matches
            <img src="../assets/images/Heart.png" alt="icon" class="header-icon-flipped">
        </h1>
        <ul>
            {% if matches %}
            {% for match in matches %}
            <li>
                <a href="{{ url_for('view_profile', username=match) }}" class="username">{{ match }}</a>
                - <button><a href="{{ url_for('messages', username=match) }}">Message</a></button>
            </li>
            {% endfor %}
            {% else %}
            <li>No matches found.</li>
            <img src="../static/assets/images/RideACowboy_tumbleweed.png" alt="Tumbleweed" class="tumbleweed">
        {% endif %}
        </ul>

        <button><a href="{{ url_for('my_profile') }}">Back to Profile</a></button>
    </div>

</body>

</html>