<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/main.css">
    <title>Play Hangman</title>
</head>
<body>
    <div class="container">
    <h1>Play Hangman with</h1>
    <h1>
        <img src="../assets/images/RideACowboy_Gun.png" alt="icon" class="header-icon-flipped">
        {{ username }}
        <img src="../assets/images/RideACowboy_Gun.png" alt="icon" class="header-icon">

    </h1>

    {% if game_won %}
        <h2>Congratulations! You've won!</h2>
        <h3>The word was: {{ word_display }}</h3>
    {% else %}
        <h2>Word: {{ word_display }}</h2>
        <form method="POST">
            <label for="guess">Guess a letter:</label>
            <br>
            <input type="text" name="guess" maxlength="1" required>
            <br>
            <button type="submit">Submit Guess</button>
        </form>

        <h3>Previous Guesses: {{ guessed_letters }}</h3>
    {% endif %}

    <button><a href="{{ url_for('messages', username=username) }}">Back to Messages</a></button>
    </div>
</body>
</html>
