<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/main.css">
    
    <title>{{ username }}'s Profile</title>
</head>
<body>
    <div class="container">
    <h1>
        <img src="../static/assets/images/RideACowboy_Gun.png" alt="icon" class="header-icon-flipped">
        Showdown
        <img src="../static/assets/images/RideACowboy_Gun.png" alt="icon" class="header-icon">
    </h1>
    <form method="POST">
        <p>Can you guess which one is the lie?</p>

        {% for option in options %}
            <div>
                <input type="radio" name="guessed_lie" value="{{ option }}" required>
                <label>{{ option }}</label>
            </div>
        {% endfor %}

        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>
