<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/main.css">
    <title>{{ username }}'s Profile</title>
</head>
<body>
    <div class="container">
        <h1>
        <img src="../assets/images/RideACowboy_Gun.png" alt="icon" class="header-icon-flipped">
            Showdown
            <img src="../assets/images/RideACowboy_Gun.png" alt="icon" class="header-icon">
        </h1>
    <form method="POST">
        <label for="truth_1">First Truth:</label>
        <br>
        <input type="text" name="truth_1" id="truth_1" required>
        <br>
        <label for="truth_2">Second Truth:</label>
        <br>
        <input type="text" name="truth_2" id="truth_2" required>
        <br>
        <label for="lie">The Lie:</label>
        <br>
        <input type="text" name="lie" id="lie" required>
        <br>
        <button type="submit">Send Game</button>
    </form>
    <br>
    <button><a href="{{ url_for('my_profile') }}">Back to messages</a></button>
</div>
</body>
</html>
